.rich-editor {
  max-height: 13rem;
  height: 8rem !important;
  border: 1px solid #F1F1F1 !important;
  padding: 0rem 0.5rem !important;
  border-radius: 2px !important;
  line-height: 1.2rem !important;
}